@page
@model IndexModel
@{
    ViewData["Title"] = "WAVES";
}

<div class="text-center">
    <h1 class="display-4">WAVES - Water Activity Visible Evidence Sustainability</h1>
    <iframe width="640px" height="480px" src="https://forms.office.com/r/1ynre5FSZD?embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</div>
